.jumbotron.text-center
  %h1 Welcome to myRecipe App

  %h2 I am trying to master the basic of Rails.

  = link_to("Sign Up", "", class: "btn btn-lg btn-success")

.row
  .col-xs-4
    %h3.midrow
      View Recipes as Guest User
    %h2.left
      Browse and view as a guest and Sign up later
    %p= link_to("Browse Recipe Listings", "", class: "btn btn-warning btn-sm")

  .col-xs-4
    %h3.midrow
      View Recipes as Guest User
    %h2.left
      Browse and view as a guest and Sign up later
    %p= link_to("Browse Recipe Listings", "", class: "btn btn-warning btn-sm")

  .col-xs-4
    %h3.midrow
      View Recipes as Guest User
    %h2.left
      Browse and view as a guest and Sign up later
    %p= link_to("Browse Recipe Listings", "", class: "btn btn-warning btn-sm")

